body, html {
	min-width: 100%;
	min-height: 100%;
	font-size: @base-font;
	overflow-x: hidden;
}

a {
	text-decoration: none;

	&:active,
	&:focus {
		color: inherit;
	}
}

/*====mixins====*/

.flex() {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.flex-c() {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/*====header====*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 0;
	background: rgba(0,0,0,.6);
	z-index: 20;
	transition: all .3s;

	&.active {
		padding: 5px 0;
		background: rgba(0,0,0,.7);
	}
	.container {
		.flex();
	}

	&__logo {
		width: 215px;
		height: 45px;
		.flex-c();

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.nav {
	&__link {
		text-transform: uppercase;
		margin: 0 15px;
		color: @c-white;
		transition: all .3s;

		&:hover {
			color: @c-blue;
			text-shadow: 0 0 5px  @c-blue;
		}

		&:focus,
		&:active {
			color: @c-blue;
		}
	}
}

/*====banner====*/

.icons {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	.flex-c();
	display: inline-flex;
    background: -webkit-linear-gradient(14deg, rgb(15, 124, 225), rgb(162, 239, 155));
    background: linear-gradient(14deg, rgb(15, 124, 225), rgb(162, 239, 155));
	transition: all.3s;

	&_md {
		width: 65px;
		height: 65px;	
	}

	&_lg {
		width: 100px;
		height: 100px;	
	}

	&_nobg {
		background: transparent;
	}
}

.banner {
	min-height: 115vh;
	.flex-c();
	text-align: center;
	background: url('../img/top-bg.jpg') 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: @c-white;

	&__contact {
		.flex();
		margin-top: 10%;
	}

	&__tel {
		text-align: right;
		color: @c-white;
		.flex();

		.icons {
			margin-left: 10px;
		}

		&:hover {
			.icons {
				box-shadow: 0 0 20px  @c-blue;
			}
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&__inner {
		width: 40%;
	}
}



/*====why-we====*/

.why-we {
	.flex-c();
	align-items: flex-start;

	&__image {
		width: 33%;
		height: 700px;
		position: relative;
		z-index: 10;

		img {
			position: absolute ;
			max-width: 100%;
			height: 135%;
			bottom: -70px;
			z-index: 3 ;
		}
	}

	&__txt {
		width: 37%;
		margin-left: 5%;

		.subtitle {
			margin: 0 auto 80px;
			width: 70%;
		}
	}
}

.section {
	position: relative;
	padding: 70px 0;
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: -35px;
		height: 90px;
		width: 110%;
		background:@c-white;
		transform: rotate(2deg);
		z-index: 3;
	}
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: -35px;
		height: 90px;
		width: 110%;
		background: @c-white;
		transform: rotate(2deg);
		z-index: 3;
	}
}

.title {
	text-transform: uppercase;
	font-weight: bold;
	background:-webkit-linear-gradient(14deg, rgb(15, 124, 225) 5%, rgb(162, 239, 155) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: @c-blue;
    text-align: center;
    margin-bottom: 30px;
}

.subtitle {
	font-weight: bold;
	text-align: center;
}

.plus {
	list-style: none;
	.flex();
	flex-wrap: wrap;
	margin: 40px 0 100px;

	&__item {
		width: 46%;
		.flex();
		flex-wrap: nowrap;
		justify-content: flex-start;
		margin: 25px 0;
	}

	&__txt {
		margin-left: 10%;
		width: 65%;
	}

	&__title {
		font-weight: bold;
		color: @c-blue;
	}
}

.order {
	.flex-c();
	font-weight: bold;
	text-align: right;

	.btn {
		margin-left: 50px;
	}
}



/*====counter====*/

.counter {
	min-height: 440px;
	background: url('../img/giro-count.png') 50% no-repeat;
	background-size: cover;
	.flex-c();
	text-align: right;

	&-list {
		list-style: none;
		width: 100%;
		.flex-c();

		&__item {
			margin: 5%;
		}		
	}

	&__number {
		color: @c-blue;
		font-weight: bold;
	}

	&__title {
		color: @c-white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/*====options====*/

.options {

	.container {
		.flex-c();

		margin: 5% auto;
	}

	&__txt {
		width: 40%;
		.flex-c();
	}

	&__img {
		width: 60%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__half {
		.flex();
		width: 50%;

		&:first-of-type {
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				width: 3px;
				position: absolute;
				top: 10%;
				bottom: 10%;
				right: 0;
				background: @c-gray;
			}
		}

		.parameter {
			width: 50%;
			text-align: center;

			.icons {
				margin-bottom: 25px;
			}

			&__title {
				color: @c-blue;
				font-weight: bold;
				text-transform: uppercase;
			}

			&__subtitle {
				text-transform: uppercase;
				font-weight: bold;
				font-size: .7em;
				margin-top: 5px;
			}
		}
		.parameter_lg {
			width: 100%;
			text-align: center;
			margin-bottom: 60px;
		}
	}
}

/*====original====*/

.original {
	min-height: 440px;
	background: url('../img/original.png') 50% no-repeat;
	background-size: cover;
	.flex();

	&__title {
		text-transform: uppercase;
		color: @c-white;
		font-weight: bold;
		text-align: right;
		margin-left: 50%;
	}
}


/*====catalog====*/

.catalog {
	&__header {
		.flex();
		margin-bottom: 100px;

		.title {
			margin: 0;
		}
	}

	&__nav {
		&-link {
			color: @c-dgray;
			font-weight: bold;
			margin: 0 10px;
			transition: all .3s;

			&:hover,
			&.active {
				color: @c-black;
			}
		}
	}

	&__products {
		display: none;

		&.active {
			display: block;
		}
	}
}

.product {
	margin: 150px 0;
	&__category {
		text-transform: uppercase;

		&-param {
			border-left: 3px solid @c-black;
			border-right: 3px solid @c-black;
			padding: 0 10px;
			margin-left: 10%;
		}
	}

	&__name {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 30px;
	}

	&-options {
		list-style: none;
		width: 70%;

		&__name {
			text-transform: uppercase;
			font-weight: bold;
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				bottom: -2px;
				left: 0;
				height: 2px;
				width: 100%;
				background: @c-white;
			}
		}

		&__value {
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				bottom: -2px;
				left: 0;
				height: 2px;
				width: 100%;
				background: @c-white;
			}
		}

		&__item {
			.flex();
			border-bottom: 1px dotted @c-black;
			margin: 10px 0;
		}
	}

	&-model {
		.flex();
		justify-content: flex-start;
		margin: 30px 0;

		&__title {
			font-weight: bold;
			// flex-grow: 0;
		}

		&__list {
			// flex-grow: 1;
			width: 50%;
			margin-left: 40px;
			.flex-c();
		}

		&__item {
			width: 70px;
			height: 70px;
			padding: 5px;
			overflow: hidden;
			cursor: pointer;
			margin: 10px;
			position: relative;
			&:focus,
			&:active {
				outline: none
			}

			&.active {
				border-radius: 50%;
				background: -webkit-linear-gradient(14deg, rgb(15, 124, 225), rgb(162, 239, 155));
                background: linear-gradient(14deg, rgb(15, 124, 225), rgb(162, 239, 155));
			} 

			img {
				max-width: 80%;
				max-height: 80%;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}

	&__img-item {
		height: 445px;
		overflow: hidden;
		display: none;
		text-align: center;
		&:focus,
		&:active {
			outline: none
		}

		&.active {
			display: block;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	&__order {
		justify-content: flex-start;
		text-align: left;
	}

	.order {
		&__new-price {
			color: @c-blue;
			display: inline-block;
			width: 100%;
		}

		&__old-price {
			color: @c-dgray;
			text-decoration: line-through;
		}
	}
}

/*====video====*/

.video {
	overflow: hidden;
	position: relative;
	height: 760px;
	video {
		width: 100%;
		height: 90%;
	}

	&__over {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.flex-c();
		text-align: center;
		flex-direction: column;
		background: url('../../img/video-bg.png') 50% no-repeat, @c-white;
		background-size: cover;
		color: @c-white;
		transition: all 1s;


		&.active {
			transform: translateY(-100%);
			// opacity: 0;
			pointer-events: none
		}
	}
	
	&__title {
		font-weight: bold;
		margin-bottom: 30px;
	}

	&__btn {
		width: 80px;
		height: 80px;
		border: 2px solid @c-white;
		border-radius: 50%;
		margin-bottom: 3%;
		transition: all .5s;
		.flex-c();

		i {
			display: inline-block;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-left: 30px solid @c-white;
			margin-right: -30px;
			transition: all .5s;
		}

		&:hover {
			box-shadow: 0 0 30px @c-blue;
			border: 2px solid @c-blue;

			i {
				border-left: 30px solid @c-blue;
			}
		}
	}
}

/*====reviews====*/

.review {
	text-align: center;
	width: 70%;
	margin: 0 auto;

	&__item {
		text-align: center;
		&:focus,
		&:active {
			outline: none;
		}
	}

	&__img {
		width: 170px;
		height: 170px;
		.flex-c();	
		display: inline-flex;
		position: relative;
		margin: 50px 0;

		img {
			max-width: 100%;
			max-height: 100%;
			border-radius: 50%;
		}

		&:after {
			content: '';
			display: inline-block;
			background-image: url(../img/sprite.png);
			  background-position: -87px -124px;
			  width: 36px;
			  height: 35px;
			  position: absolute;
			  left: -60px;
			  top: 0;
			  bottom: 0;
			  margin: auto;
		}

			&:before {
			content: '';
			background-image: url(../img/sprite.png);
			  background-position: 0px -124px;
			  width: 37px;
			  height: 35px;
			  position: absolute;
			  right: -60px;
			  top: 0;
			  bottom: 0;
			  margin: auto;
		}
	}

	&__name {
		font-weight: bold;
		margin: 20px 0 50px;
	}
}

/*====map====*/
.map {
	height: 40vh;
	iframe {
		width: 100%;
		height: 100%;
	}
}

/*====contacts====*/

.contacts {
	padding: 10vh;
	text-align: center;
	&__name {
		font-weight: bold;
		text-transform: uppercase;
		color: @c-black;
		float: left;
	}

	.fn {
		display: none;
	}
}

.list {
	list-style: none;
	width: 50%;
	margin: 10vh auto 0;
	&__item {
		margin: 15px 0;
		text-align: right; 
	}
	&__link {
		color: @c-black;
	}
}


/*====footer====*/

.footer {
	padding: 50px;
	background: @c-black;
	text-align: center;

	&__link {
		color: @c-dgray;
		margin-top: 10px;
		display: inline-block;
		font-size: .7em;
		transition: all .3s;

		&:focus,
		&:active {
			color: @c-dgray;
		}

		&:hover {
			color: @c-white;
		}
	}
}

/*====form====*/

.form {

	.flex-c();
	flex-direction: column;
	width: 30%;
	text-align: center;
	background: @c-white;
	padding: 1% 2%;
	position: relative;
	transform: translateY(100vh);
	transition: all .5s;
	&.active {
		transform: translateY(0);
	}

	&__wrapp {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.5);
		z-index: 10;
		.flex-c();
		display: none;

		&.active {
			display: flex;
		}
	}

	&__close {
		width: 25px;
		height: 2px;
		background: @c-blue;
		position: absolute;
		right: 10px;
		top: 20px;
		transform: rotate(45deg);

		&:after {
			content: '';
			display: inline-block;
			width: 25px;
			height: 2px;
			background: @c-blue;
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(90deg);			
		}
	}

	&__txt {
		color: @c-blue;
		margin-bottom: 2vh;
	}

	&__field {
		background: none;
		margin: 2vh 0;
		border: none;
		padding: 10px;
		color: @c-blue;
		border-bottom: 2px solid @c-blue;
		width: 80%;
		transition: all .3s;
		font-size: 1.2em;

		&:focus,
		&:active {
			outline: none;
			border-bottom: 2px solid @c-blue;
			color: @c-blue;
		}

		&::-webkit-input-placeholder {color:@c-blue}
		&::-moz-placeholder          {color:@c-blue}/* Firefox 19+ */
		&:-moz-placeholder           {color:@c-blue}/* Firefox 18- */
		&:-ms-input-placeholder      {color:@c-blue}
	}

	&__btn {
		margin-top: 2vh;
		border: none;
		cursor: pointer;

		&:focus,
		&:active {
			outline: none;
		}
	}
}